@using System.Collections
@model dynamic

@if (Model is IEnumerable)
{
    <table class="table-condensed">
        @foreach (var _ in Enumerable.ToList(Model))
        {
            @Html.EditorFor(m => _, "TableRow")
        }
    </table>
}