@using DemoFramework.HtmlExtensions
@model DemoFramework.Models.ProductViewModel

<tr data-row>
    @using (Html.BeginCollectionItem("ProductList"))
    {
        <td>@Html.TextBoxFor(m => m.Id, new {Class="form-control"})</td>
        <td>@Html.TextBoxFor(m => m.Name, new { Class = "form-control" })</td>
        <td>@Html.TextBoxFor(m => m.Price, new {Class="form-control"})</td>
        <td><input type="button" class="btn btn-danger" onclick="DeleteRow(this)" value="Delete"/></td>
    }
</tr>